<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6 col-sm-7 col-xs-12">

    <div class="form-group">
      <%= f.text_field :first_name, class: "form-control input-lg", placeholder: "First Name" %>
    </div>

    <div class="form-group">
      <%= f.text_field :last_name, class: "form-control input-lg", placeholder: "Last Name" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, class: "form-control input-lg", placeholder: "Email" %>
    </div>

    <div class="form-group">
      <%= f.text_field :date_of_joining, class: "form-control input-lg datepicker", placeholder: "Date of Joining" %>
    </div>

    <div class="form-group">
      <%= f.text_field :designation, class: "form-control input-lg", placeholder: "Employee Designation" %>
    </div>

    <div class="form-group">
      <%= f.text_field :mobile, class: "form-control input-lg", placeholder: "Modile Number" %>
    </div>

  </div>
  <div class="col-md-6 col-sm-5 col-xs-12">

    <div class="form-group">
      <%= f.select :department_id, options_for_select(Department.all.collect {|p| [ p.name, p.id ] },(f.object.try(:department_id))),{include_blank: 'Select Department'}, { :class => 'form-control input-lg'} %>
    </div>

    <div class="form-group">
      <%= f.text_area :about, class: "form-control input-lg about-emp", placeholder: "About Employee" %>
    </div>
  </div>

  <div class="col-md-6 col-xs-12 col-sm-7 col-lg-6">
    <div class="form-group actions">
      <%= f.submit class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </div>
<% end %>
