<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="jumbotron">
    <h1>Listing Employees</h1>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered dt-responsive nowrap" id="employee">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Date of joining</th>
          <th>Department</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.full_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.date_of_joining %></td>
            <td><%= employee.department.try(:nickname) %></td>
            <td>
              <%= link_to 'Show', employee %><span></span>
              <%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %><span></span>
              <%= link_to 'Edit', edit_employee_path(employee) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Employee', new_employee_path %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#employee').DataTable();
  });
</script>