<div class="container">
  <% if @batch.sections.present?%>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="section-index">
          <% @batch.sections.each do |section| %>
            <tr id="section_<%= section.id%>">
              <td><%= section.section_name %></td>
              <td><%= section.status %></td>
              <td class="hidden-xs">
                <%= link_to edit_section_path(section), class: "btn btn-warning", remote: true do %>
                  <i class="fa fa-pencil"></i> Edit
                <% end %>
              </td>
              <td class="visible-xs">
                <%= link_to edit_section_path(section), class: "btn btn-warning btn-xs", remote: true do %>
                  <i class="fa fa-pencil"></i> Edit
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <% if maximum_section_count(@batch.id)%>
    <div class="form-group section-btn">
      <%= link_to new_batch_section_path(@batch), class: "btn btn-add-new btn-lg", remote: true do %>
        <i class="glyphicon glyphicon-plus"></i> Add New Section
      <% end %>
    </div>
  <% end %>
  <div class="well">
    <h2>Batch Students</h2>
  </div>
  <div id="owl-example" class="owl-carousel hidden-xs batch-students">
    <% @images.each do |img| %>
      <div class="item">
        <%= image_tag img, class: "img-responsive" %>
      </div>
    <% end %>
  </div>
  <div id="owl-example-xs" class="owl-carousel visible-xs batch-students">
    <% @images.each do |img| %>
      <div class="item">
        <%= image_tag img, class: "img-responsive" %>
      </div>
    <% end %>
  </div>
  <center>
    <div class="btm-sec">
      <a href="<%= course_path(@batch.course) %>" class="back-link">
        <%= image_tag "bkbtn.png", class: "img-responsive"%>
      </a>
    </div>
  </center>
</div>


<div class="modal fade" id="new-section-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>

<div class="modal fade" id="edit-section-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>

<script type="text/javascript">
  $(document).ready(function($) {
    $("#owl-example").owlCarousel({
    });
    $("#owl-example-xs").owlCarousel({
      navigation:true,
      navigationText : ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
      pagination: false
    });
  });
</script>